<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Professeur</title>
        <!-- Custom fonts for this template-->
        <link href="http://localhost:8080/template/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />

        <!-- Custom styles for this template-->
        <link href="http://localhost:8080/template/css/sb-admin-2.min.css" rel="stylesheet" />
    </head>
    <body>

        <a th:href="@{/online/logout}" th:inline="text">
            [[${#httpServletRequest.remoteUser}]] | Logout
        </a>
        <div class="container">
            <div class="card">
                <div class="card-header">Liste des professeurs</div>
                <div class="card-body">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>Mot de passe</th>
                            <th>Etat</th>
                            <th>Action</th>
                            <th>Action</th>
                        </tr>
                        <tr th:each="p:${professeursList}">
                            <td th:text="${p.prenom}"></td>
                            <td th:text="${p.nom}"></td>
                            <td th:text="${p.email}"></td>
                            <td th:text="${p.password}"></td>
                            <td th:text="${p.etat}"></td>
                            <td><a th:href="@{/online/professeurs/edit(email=${p.email})}">Editer</a></td>
                            <td><a th:href="@{/online/professeurs/delete(email=${p.email})}">Supprimer</a></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div>
                <a th:href="@{/online/excel}">Telecharger en Excel</a> |
                <a th:href="@{/online/pdf}">Telecharger en PDF</a>
            </div>

            <div class="card">
                <div class="card-header">Formulaire</div>
                <div class="card-body">
                    <form method="post" th:action="@{/online/professeurs/add}" th:object="${professeur}">
                        <div class="form-group">
                            <label>Nom</label>
                            <input class="form-control" type="text" name="nom" th:field="*{nom}"/>
                        </div>
                        <div class="form-group">
                            <label>Prenom</label>
                            <input class="form-control" type="text" name="prenom" th:field="*{prenom}"/>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" type="email" name="email" th:field="*{email}"/>
                        </div>
                        <div class="form-group">
                            <label>Mot de passe</label>
                            <input class="form-control" type="password" name="password" th:field="*{password}"/>
                        </div>
                        <div class="form-group">
                            <label>Etat du compe</label>
                            <input class="form-control" type="number" name="etat" th:field="*{etat}"/>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-success" type="submit" name="envoyer" value="Envoyer"/>
                            <input class="btn btn-danger" type="reset" name="annuler" value="Annuler"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>